body {
  font-family: 'Open Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom class tetapi tetap menggunakan class pada tailwind */
.flex-center {
  @apply flex items-center justify-center;
}
.flex-between {
  @apply flex items-center justify-between;
}

.container {
  @apply m-auto w-[90%];
}

.menu-navbar {
  @apply text-xl font-medium;
}

.menu-footer {
  @apply font-normal;
}
/* Add these styles to your CSS file */
.margin-transition {
  transition: margin 0.3s ease-in-out;
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
}
.transform-active {
  transform: translateX(30rem) scale(1.3) translateY(-20px);
}

.button-primary {
  @apply transition-all cursor-pointer hover:bg-primary hover:text-white text-primary;
}

.button-secondary {
  @apply text-white transition-all cursor-pointer hover:bg-white hover:text-black;
}

.list-about-us {
  @apply w-[40%]   font-bold flex items-center;
}
.list-item-about-us {
  @apply text-white rounded-full flex-center bg-primary;
}

.bg-blur-blue {
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 255, 0.8); /* Adjust the blue color and opacity as needed */
}

.slick-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* hidden dot carousel-react-responsive */
.carousel .control-dots {
  display: none;
}

/* dot carousel slick home */
/* dekstop start */
.custom-dot {
  margin-left: -440px !important;
  margin-top: 20px !important;
  width: 35px !important;
  height: 8px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 5px;
}

.custom-dot::after {
  position: absolute;
  content: '';
  background-color: white !important;
  width: 8px !important;
  height: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.custom-dot.active {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  background-color: #223dfe !important;
  width: 35px !important;
  height: 8px !important;
}

.custom-dot.active::after {
  display: none; /* Hide the white dot for active state */
  height: 8px !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}
/* desktop end*/

/* mobile start */
@media (min-width: 320px) and (max-width: 767px) {
  .custom-dot {
    margin-left: -50px !important;
    margin-top: 14px !important;
    width: 35px !important;
    height: 8px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 5px;
  }

  .custom-dot::after {
    position: absolute;
    content: '';
    background-color: white !important;
    width: 8px !important;
    height: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .custom-dot.active {
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
    background-color: #223dfe !important;
    width: 35px !important;
    height: 8px !important;
  }

  .custom-dot.active::after {
    display: none; /* Hide the white dot for active state */
    height: 8px !important;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
